<div class="row">
    <div class="col-lg-12">
        <p>
            This should contain the description of the game.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo augue ut dictum
            elementum. Sed eget mi sollicitudin sapien vehicula malesuada. Quisque euismod lectus vel
            ligula egestas, eu rutrum urna luctus. Aliquam erat volutpat. Duis at mollis nisl. Donec
            hendrerit viverra vestibulum. In hac habitasse platea dictumst. Interdum et malesuada fames
            ac ante ipsum primis in faucibus. Sed eget gravida ligula. Quisque odio lectus, pulvinar non
            justo efficitur, viverra cursus arcu.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="" class="btn btn-success" ng-click="start()">Start</a>
        <a href="" class="btn btn-warning" ng-click="highScores()">Leader's board</a>
    </div>
</div>